@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/CSS/Carousel.css" rel="stylesheet" />
</head>

    <body>

        <div class="action">
            <div class="sale">
                
                <img src="~/Content/Images/akcija.jpg" style="max-width:480px;max-height:150px" />
            </div>

        </div>
        <div class="deliver">
            <div class="deliver1">Достава до вашиот дом: <br /> <i>Направете ја својата нарачка!</i></div>
            <a href="@Url.Action("Index","Products")">
                <img src="~/Content/Images/deliver.jfif" style="width:500px" />
            </a>
            
            
        </div>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <a href="@Url.Action("Index", "Products")">
                    <img src="~/Content/Images/Banana-Free-PNG-Image.png" style="max-width:480px;max-height:300px" />
                </a>
            </div>


            <div class="mySlides fade">
                <a href="@Url.Action("Index", "Products")">
                    <img src="~/Content/Images/nut.png" style="max-width: 500px; max-height: 300px">
                </a>
            </div>

            <div class="mySlides fade">
                <a href="@Url.Action("Index", "Products")">
                    <img src="~/Content/Images/tomato.png" style="max-width: 500px; max-height: 300px">
                </a>
            </div>
            <div class="mySlides fade">
                <a href="@Url.Action("Index", "Products")">
                    <img src="~/Content/Images/milkaa.png" style="max-width: 500px; max-height: 300px">
                </a>
            </div>
            <div class="mySlides fade">
                <a href="@Url.Action("Index", "Products")">
                    <img src="~/Content/Images/pringles.png" style="max-width: 500px; max-height: 300px">
                </a>
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
       
    </body>

@section scripts{
    
    <script>
        var carousel = $('.carousel').carousel();
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
        function go() {
            var url = "/Products";
            window.location.href = url;
            // window.location.replace("http://www.google.com");
        }
        
    </script>

}