@model IEnumerable<GraciousGrocery.Models.Store>

@{
    ViewBag.Title = "Index";
}
<body style="background-color: lightgoldenrodyellow!important">
    <h2 style="margin-top: 120px !important;color: #ff80aa!important">List of stores</h2>

    <p>
        @Html.ActionLink("Create New", "Create", new { @style = "margin-top:120px!important" })
    </p>
    <table class="table" id="storeTable" style="margin-top:50px!important">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreAddress)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.StoreId })
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.StoreId })
                        @if (User.IsInRole("Administrator"))
                        {
                            @*<!--@Html.ActionLink("Delete", "Delete", new { id = item.StoreId })-->*@
                            <button data-id="@item.StoreId" class="btn-link js-delete">Delete</button>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Add to store", "AddToStore", new { id = item.StoreId })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
    @section scripts {
        <script>
            var table = $("#storeTable").DataTable();
            $("#storeTable .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Do you want to delete this store?",
                    function (result) {
                        $.ajax({
                            url: "/Stores/Delete" + button.attr("data-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    })
            });
        </script>
    }

