<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gracious Grocery</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<style>
    .navbar {
        height: 50px;
        background-color: #f5deb3;
    }

    .container {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .navbar-header {
        padding-left: 40px!important;
        background: #836953;
        padding-top: 37px;
    }
    .navbar-right {
        float: right !important;
        margin-right: -80px!important;
        
    }
    .navbar-brand {
        font-size: 26px;
        padding-right: 46px;
    }

    a {
        margin-top: 10px;
    }


    .nav > li > a {
        font-weight: bold;
        font-size: 15px !important;
        padding-left: 25px !important;
        color: #c72c48 !important;
        margin-top: -1px !important;
    }
    .img {
        width: 32px;
        height: 25px;
    }

</style>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="text-decoration:none; font-style:oblique; font-weight:bold; text-align:end!important"> Gracious Grocery </a>
                @* @Html.ActionLink("Gracious Grocery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li style="margin-left:10px!important">@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Stores", "Index", "Stores")</li>
                    <li><a href="@Url.Action("Details","Products")"><img src="~/Content/Images/finalcart.png" class="img"/></a></li>
                    
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Asign Role", "AddUserToRole", "Account")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
            

        </div>
        
    </div>
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gracious Grocery</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
