@model GraciousGrocery.Models.Product

@{
    ViewBag.Title = "Details";
}
<body style="background-color: lightgoldenrodyellow!important">
    <h2 style="margin-top: 120px !important;color: #ff80aa!important">Details</h2>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductUrl)
            </dt>

            <dd>
                <img src="@Model.ProductUrl" style="max-width:200px; max-height:200px" />
            </dd>

        </dl>
    </div>
    <a href="#" class="btn btn-dark js-quantity text-white">Add to Cart</a>
    <p>
        <!--@Html.ActionLink("Add to cart", "AddItemToCart", "CartItem", new { id = Model.ProductId, quantity = Model.Quantity }, htmlAttributes: new { @class = "btn btn-dark" })-->
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>

@section Scripts{
    <script>
        $(".js-quantity").click(function () {
            bootbox.prompt({
                size: "small",
                title: "Quantity",
                callback: function (result) {
                    let q = parseInt(result);
                    let mq = parseInt($("#Quantity").val());
                    if (q < mq) {
                        $("#Quantity").val(q.toString())
                        window.location.href = '/CartItem/AddItemToCart/' + @Model.ProductId + '?quantity=' + q;
                    }
                }
            })
        });
    </script>
}
