@model IEnumerable<GraciousGrocery.Models.Product>

@{
    ViewBag.Title = "Index";
}
<body style="background-color: lightgoldenrodyellow!important">
    <h2 style="        margin-top: 120px !important;color: #c72c48 !important">List of products</h2>

    <p>
        @Html.ActionLink("Create New", "Create", new { @style = "margin-top:120px!important" })
    </p>
    <table class="table" id="productTable" style="margin-top:50px!important">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>0
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.ProductUrl)
                    </td>
                    <td>
                        <img src="@item.ProductUrl" style="max-width:200px; max-height:200px" />
                        @*<!--@Html.DisplayFor(modelItem => item.ProductUrl)-->*@
                    </td>
                    <td>

                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.ProductId })
                        @if (User.IsInRole("Administrator"))
                        {
                            @*<!--@Html.ActionLink("Delete", "Delete", new { id = item.ProductId })-->*@
                            <button data-id="@item.ProductId" class="btn-link js-delete">Delete</button>
                        }
                        <button type="button" onclick="window.location.href='/Products/Details/@item.ProductId'">Add to cart</button>
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Add category", "AddToCategory", new { id = item.ProductId })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
@section scripts {
    <script>
        var table = $("#productTable").DataTable();
        $("#productTable .js-delete").on("click", function () {
            var button = $(this);
            bootbox.confirm("Do you want to delete this product?",
                function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Products/Delete/" + button.attr("data-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
        });
    </script>
}
